body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grid-container {
    display: grid;
    max-height: 960px;
    max-width: 960px;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
}

.grid-item {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background-color: white;
}

.slidecontainer {
    max-width: 600px; /* Width of the outside container */
    align-self: center;
  }
  
  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    max-width: 600px; /* Specified height */
    background: seashell; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }