body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grid-container {
    display: grid;
    max-height: 960px;
    max-width: 960px;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
}

.grid-item {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background-color: white;
}